
<div AgWordCloud #word_cloud_chart=ag-word-cloud [wordData]="wordData" (click)="edit($event)" [options]="options">
</div>



 <table class="table table-striped col-md-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employees of reportedData">
        <td>{{employees.name}}</td>
        <td>{{employees.email}}</td>
        <td>{{employees.ph_no}}</td>
      </tr>
      
    </tbody>
  </table>